@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');

body{
    background-color: rgb(10, 25, 47);
    background-color: rgb(227, 215, 200);
    background-color: rgb(88, 87, 87);
    background-color: green;
    background-color: rgb(79, 190, 79);
    

}

*{
    margin:0;
    padding: 0;
}

nav{
    font-family: 'Trispace', sans-serif;
    border: 2px solid rgb(171, 237, 71);
    border-radius: 10px;
    
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color: white;
}

nav ul li{
   padding: 0px 10px;
   cursor: pointer;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.25rem;
}
.logo:hover{
    color: green;
    
}

.logo img{
    width: 50px;
   padding: 0px 9px;
}

.container{
    min-height: 70.5vh;
    border: 2px solid green;
    border-radius: 16px;
    padding: 10px;
    background-color: black;
    color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   width: 70%;
   margin: 20px auto;
   background-image: url('background.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
   
  

}


.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: black;
    height: 95px;
    bottom: 0px;
    flex-direction: column;
    border: 3px solid green;
}


#progressBar{
    width: 80vw;
    cursor: pointer;
}


.icons{
   margin-top: 15px;
   cursor: pointer;
}
.icons i{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid black;
    background-color: green;
    border-radius: 50%;
    
}

.icons i:hover{
    transform: scale(1.2);
    color: grey;
}
.songItem{
    width: 30vw;
    height: 50px;
    background-color: white;
    color: green;
    font-weight: bolder;
    border: 2px solid green;
    border-radius: 10px;
    display: flex;
  
    align-items: center;
    justify-content: space-between;
}

.songlistPlay
{
    display: flex;
    flex-wrap: wrap;
}

.songItem:hover{
    background-color: rgb(79, 190, 79);
    color: black;
    transform: scale(1.015);
}


.songItem i{
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.songItem img{
    width: 50px;
    border-radius: 50%;
}

.songItemConatiner{
    margin-top: 30px;
    flex-wrap: wrap;
}

.songInfoLeft img{
    width: 10vw;
    height: 50px;
    opacity: 0;
    transition: opacity 1s ease-in;
}
.songInfoRight img{
    width: 10vw;
    height: 50px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
  
}

.songInfoLeft{
    font-family: 'Trispace', sans-serif;
    position: absolute;
    left: 10vw;
    color: white;
    
}

.songInfoRight{
    font-family: 'Trispace', sans-serif;
    position: absolute;
    right: 10vw;
    color: white;

    
}

@media (max-width:700px){

    .songItem{
        width: auto;
    }
}

@media(max-width:700px) and (min-width:375px)
{
    .songInfoRight img {
        width: 4vw;
        height: 50px;
        opacity: 0;
        transition: opacity 0.5s ease-in;
    }
    .songInfoLeft img {
        width: 4vw;
        height: 50px;
        opacity: 0;
        transition: opacity 0.5s ease-in;
    }
}